<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 后台用户和角色关系表(lots_user_role_relation) -->
<mapper namespace="com.lots.lots.dao.mapper.LotsUserRoleRelationMapper">

    <!-- 字段映射 -->
    <resultMap id="LotsUserRoleRelationMap" type="com.lots.lots.entity.vo.LotsUserRoleRelationVo">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="role_id" property="roleId" jdbcType="BIGINT"/>
    </resultMap>
    <!-- 表查询字段 -->
    <sql id="allColumns">
        lurr
        .
        id
        , lurr.user_id, lurr.role_id
    </sql>

    <!--查询单个-->
    <select id="findById" resultMap="LotsUserRoleRelationMap">
        select *
        FROM lots_user_role_relation
        where id = #{id}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="LotsUserRoleRelationMap" parameterType="map">
        SELECT
        *
        FROM lots_user_role_relation lurr WHERE 1 = 1
        <if test="userId != null">
            AND lurr.user_id = #{userId}
        </if>
        <if test="roleId != null">
            AND lurr.role_id = #{roleId}
        </if>
    </select>
    <select id="findRoleIdIn" resultType="com.lots.lots.entity.vo.LotsUserRoleRelationVo">
        SELECT * from lots_user_role_relation
        WHERE role_id in
        <foreach collection="roleIds" item="roleId" open="(" close=")" separator=",">
            #{roleId}
        </foreach>
    </select>
    <select id="getUserIdList" resultType="java.lang.Long">
        SELECT DISTINCT ar.user_id
        FROM lots_role_resource_relation rr
                 LEFT JOIN lots_user_role_relation ar ON rr.role_id = ar.role_id
        WHERE rr.resource_id = #{resourceId}
    </select>
    <select id="getRoleList" resultType="com.lots.lots.entity.vo.LotsRoleVo">
        select r.*
        from lots_user_role_relation ar
                 left join lots_role r on ar.role_id = r.id
        where ar.user_id = #{userId}
    </select>

    <select id="getPermissionList" resultType="com.lots.lots.entity.vo.LotsPermissionVo">
        SELECT p.*
        FROM lots_user_role_relation ar
                 LEFT JOIN lots_role r ON ar.role_id = r.id
                 LEFT JOIN lots_role_permission_relation rp ON r.id = rp.role_id
                 LEFT JOIN lots_permission p ON rp.permission_id = p.id
        WHERE ar.user_id = #{userId}
          AND p.id IS NOT NULL
          AND p.id NOT IN (
            SELECT p.id
            FROM lots_user_permission_relation pr
                     LEFT JOIN lots_permission p ON pr.permission_id = p.id
            WHERE pr.type = - 1
              AND pr.user_id = #{userId}
        )
        UNION
        SELECT p.*
        FROM lots_user_permission_relation pr
                 LEFT JOIN lots_permission p ON pr.permission_id = p.id
        WHERE pr.type = 1
          AND pr.user_id = #{userId}
    </select>

    <!--新增所有列-->
    <insert id="insert" parameterType="map" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO lots_user_role_relation (id,
                                             user_id,
                                             role_id)
        VALUES (#{id},
                #{userId},
                #{roleId})
    </insert>
    <insert id="insertList">
        INSERT INTO lots_user_role_relation (user_id, role_id) VALUES
        <foreach collection="list" separator="," item="item" index="index">
            (#{item.userId,jdbcType=BIGINT},
            #{item.roleId,jdbcType=BIGINT})
        </foreach>
    </insert>

    <!--通过主键修改数据-->
    <update id="update" parameterType="map">
        UPDATE lots_user_role_relation
        <set>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="roleId != null">
                role_id = #{roleId}
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        DELETE
        FROM lots_user_role_relation
        WHERE id = #{id}
    </delete>

    <delete id="deleteByUserId">
        DELETE
        FROM lots_user_role_relation
        WHERE user_id = #{userId}
    </delete>

</mapper>