<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 后台用户表(lots_user) -->
<mapper namespace="com.lots.lots.dao.mapper.LotsUserMapper">

    <!-- 字段映射 -->
    <resultMap id="LotsUserMap" type="com.lots.lots.entity.vo.LotsUserVo">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="id_card" property="idCard" jdbcType="VARCHAR"/>
        <result column="icon" property="icon" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="nick_name" property="nickName" jdbcType="VARCHAR"/>
        <result column="note" property="note" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="login_time" property="loginTime" jdbcType="TIMESTAMP"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
    </resultMap>
    <!-- 表查询字段 -->
    <sql id="allColumns">
        lu
        .
        id
        , lu.username, lu.password, lu.phone, lu.id_card, lu.icon, lu.email, lu.nick_name,
        lu.note, lu.create_time, lu.login_time, lu.status
    </sql>

    <!--查询单个-->
    <select id="findById" resultType="com.lots.lots.entity.vo.LotsUserVo">
        select *
        FROM lots_user
        where id = #{id}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="LotsUserMap" parameterType="map">
        SELECT
        *
        FROM lots_user lu WHERE 1 = 1
        <if test="username != null and username != ''">
            AND lu.username LIKE CONCAT('%', #{username}, '%')
        </if>
        <if test="password != null and password != ''">
            AND lu.password LIKE CONCAT('%', #{password}, '%')
        </if>
        <if test="phone != null and phone != ''">
            AND lu.phone LIKE CONCAT('%', #{phone}, '%')
        </if>
        <if test="idCard != null and idCard != ''">
            AND lu.id_card LIKE CONCAT('%', #{idCard}, '%')
        </if>
        <if test="icon != null and icon != ''">
            AND lu.icon LIKE CONCAT('%', #{icon}, '%')
        </if>
        <if test="email != null and email != ''">
            AND lu.email LIKE CONCAT('%', #{email}, '%')
        </if>
        <if test="nickName != null and nickName != ''">
            AND lu.nick_name LIKE CONCAT('%', #{nickName}, '%')
        </if>
        <if test="note != null and note != ''">
            AND lu.note LIKE CONCAT('%', #{note}, '%')
        </if>
        <if test="createTime != null">
            AND lu.create_time = #{createTime}
        </if>
        <if test="loginTime != null">
            AND lu.login_time = #{loginTime}
        </if>
        <if test="status != null">
            AND lu.status = #{status}
        </if>
    </select>
    <select id="getAdminByUsername" resultType="com.lots.lots.entity.vo.LotsUserVo">
        SELECT *
        FROM lots_user lu
        WHERE lu.username = #{username}

    </select>
    <select id="findByName" resultType="com.lots.lots.entity.vo.LotsUserVo">
        SELECT *
        FROM lots_user lu
        WHERE lu.username LIKE CONCAT('%', #{keyword}, '%')
           OR lu.nick_name LIKE CONCAT('%', #{keyword}, '%')

    </select>

    <select id="findByNamePage" resultType="com.lots.lots.entity.vo.LotsUserVo">
        SELECT *
        FROM lots_user lu
        WHERE lu.username LIKE CONCAT('%', #{keyword}, '%')
           OR lu.nick_name LIKE CONCAT('%', #{keyword}, '%')

    </select>


    <!--新增所有列-->
    <insert id="insert" parameterType="map" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO lots_user (id,
                               username,
                               password,
                               phone,
                               id_card,
                               icon,
                               email,
                               nick_name,
                               note,
                               create_time,
                               login_time,
                               status)
        VALUES (#{id},
                #{username},
                #{password},
                #{phone},
                #{idCard},
                #{icon},
                #{email},
                #{nickName},
                #{note},
                #{createTime},
                #{loginTime},
                #{status})
    </insert>

    <!--通过主键修改数据-->
    <update id="update" parameterType="map">
        UPDATE lots_user
        <set>
            <if test="username != null">
                username = #{username},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="idCard != null">
                id_card = #{idCard},
            </if>
            <if test="icon != null">
                icon = #{icon},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="nickName != null">
                nick_name = #{nickName},
            </if>
            <if test="note != null">
                note = #{note},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="loginTime != null">
                login_time = #{loginTime},
            </if>
            <if test="status != null">
                status = #{status}
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <update id="updateByPrimaryKey">
        update lots_user
        set username    = #{username,jdbcType=VARCHAR},
            password    = #{password,jdbcType=VARCHAR},
            icon        = #{icon,jdbcType=VARCHAR},
            email       = #{email,jdbcType=VARCHAR},
            nick_name   = #{nickName,jdbcType=VARCHAR},
            note        = #{note,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            login_time  = #{loginTime,jdbcType=TIMESTAMP},
            status      = #{status,jdbcType=INTEGER}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        DELETE
        FROM lots_user
        WHERE id = #{id}
    </delete>

</mapper>