<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <title>开始上课签退</title>
    <link rel="stylesheet" href="../static/assets/agile/css/agile.layout.css">
    <link rel="stylesheet" href="../static/assets/third/seedsui/plugin/seedsui/seedsui.min.css">
    <link rel="stylesheet" href="../static/assets/third/seedsui/plugin/seedsui/custom.css">
</head>

<body>


<div id="section_container">

    <section data-role="section" id="page_index" class="active">

        <header>
            <div class="titlebar">
                <a class="titlebar-button left" href="javascript:back()">
                    <i class="icon icon-arrowleft"></i>
                </a>
                <h1 class="text-center">开始上课签退</h1>
            </div>
        </header>


        <!--主体-->

        <article data-role="article" id="index_article" class="active" style="top:44px;bottom:48px;">
            <div class="bg-gray bpadding8">
                <div class="app-listBar tpadding8">
                    <span class="app-peg"></span>
                    <p class="app-listBarTitle bold"> 课程情况</p>
                </div>
                <div class="app-orderDetailBlock">
                    <div class="app-orderDetailRight">
                        <p>课程名称：<span>项目管理师培训</span></p>
                        <p>日期时间：<span class="app-color-info">2017-08-21  14:00至15:00</span></p>
                        <p>课程主题：<span class="app-color-warn">第3讲 项目的成本管理</span></p>
                        <p>课程大纳：<span>关于项目的成本管理与总体进度的关系</span></p>
                        <p>讲师：<span>俞敏洪(项目部)</span>&nbsp;<span class="app-color-primary">已完成</span></p>
                        <p>实际时间：<span>14:05 至 16:38</span></p>
                        <p class="app-addressHandler">
                            <label>
                                <i class="icon icon-rdohistory size14"></i>
                                <span>计划时长：120分</span>
                            </label>
                            <label class="app-addressHandler-right">
                                <i class="icon icon-time size14"></i>
                                <span>实际时长：153分钟</span>
                            </label>
                        </p>
                    </div>
                </div>
            </div>
            <div class="bg-gray bpadding8">
                <div class="group nomargin">
                    <ul class="list">
                        <li class="nounderline padding8 noclick">
                            <div class="box-flex-1 tbpadding8">
                                <p class="nowrap title bold">
                                    签到信息
                                    <a class="button right radius4 outline noborder color-11 bold">会场：重庆</a>
                                </p>
                                <small class="block nowrap nomargin">地点：3楼5号会议室</small>
                                <p class="tbpadding4 color-11">
                                    <i class="icon icon-position-fill size12"></i>定位地点：重庆市渝北区星光大道62号海王星科技大厦D区

                                </p>
                                <small class="nowrap">
                                    <label class="color-default">
                                        主持人：张一山(工程部)
                                        <br>
                                        <small><i class="icon icon-time size12"></i>实际结束时间:13:30</small>
                                    </label>
                                    <label class="right" style="padding-right:16px"><small><i
                                            class="icon icon-time size12"></i>&nbsp;签退截止时间：14:27</small></label></small>


                            </div>

                        </li>
                    </ul>
                </div>
            </div>

            <div class="bg-gray bpadding8">
                <div class="group nomargin tbpadding8">
                    <div class="text-center" style="width:100%">
                        <p class="tbpadding8 size20 color-4">2017-09-01 13：46：52</p>
                        <p class="tbpadding8"><img src="../static/images/ewm.jpg"></p>
                        <p class="tbpadding8">学员请扫描此二维码签退</p>
                    </div>
                </div>
            </div>

            <div class="bg-gray bpadding8">
                <div class="group nomargin tbpadding8">
                    <div class="right text-right" style="width:100%">
                        <a class="radius4 button block margin8">
                            <i class="icon icon-rdook-fill"></i>
                            <label>讲师开始上课</label>
                        </a>
                        <a class="radius4 button block margin8">
                            <i class="icon icon-chartpie-fill"></i>
                            <label>本次参会情况统计</label>
                        </a>
                    </div>
                </div>
            </div>


        </article>

        <footer>
            <ul class="menubar">
                <li class="tab active" data-role="tab" href="index.html" data-toggle="article">
                    <i class="icon icon-home-fill"></i>
                    <label class="tab-label">首页</label>
                </li>

                <li class="tab">
                    <a href="message.html" class="block color-nav">
                        <i class="icon icon-fileperson"></i>
                        <label class="tab-label">我的信息</label>
                    </a>
                </li>
                <li class="tab" data-role="tab" href="#" data-toggle="article">
                    <a href="user.html" class="block color-nav">
                        <i class="icon icon-person"></i>
                        <label class="tab-label">个人中心</label>
                    </a>
                </li>
            </ul>
        </footer>
    </section>
</div>

<script src="assets/third/seedsui/plugin/seedsui/seedsui.min.js"></script>

<!--Exmobi能力-->
<!--<script src="../../plugin/exmobi/exmobi.js"></script>-->

</body>
</html>