<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta name="format-detection" content="telephone=no">
    <title>上课情况</title>
	<link rel="stylesheet" href="../static/assets/agile/css/agile.layout.css">
    <link rel="stylesheet" href="../static/assets/third/seedsui/plugin/seedsui/seedsui.min.css">
	<link rel="stylesheet" href="../static/assets/third/seedsui/plugin/seedsui/custom.css">
</head>

<body>



<div id="section_container">
			
    <section data-role="section" id="page_index" class="active">

		<header>
            <div class="titlebar">
                <a class="titlebar-button left" href="javascript:back()">
                    <i class="icon icon-arrowleft"></i>
                </a>
                <h1 class="text-center">上课情况</h1>
				<div class="right">
				<a class="titlebar-button">
                <i class="icon icon-search"></i>
            </a>
			</div>
            </div>
        </header>
		

        <!--主体-->
		
		   <article data-role="article" id="index_article"  class="active scrollbox"  style="top:44px;bottom:48px;">

			<div class="bg-gray bpadding8">
				<div class="group nomargin">
				<ul class="tabbar" data-type="animate-oneline" id="tabbar">
					<li class="tab active">
						<label class="tabbar-tab-label">最近一月</label>
					</li>
					<li class="tab">
						<label class="tabbar-tab-label">一个月前</label>
					</li>
				</ul>
				<div class="slider-container" id="carouselPage" style="height: 100%;">
					<div class="slider-wrapper" style="padding-bottom:70px">
						<div class="slider-slide padding8">
							<!--课程:start-->
							<div class="table-box">
								<table align="center">
									<tbody>
									<tr>
										<th>日期</th>
										<th width="40px;">时间</th>
										<th>课程</th>
										<th>主题</th>
									  </tr>
									<tr>
										<td>2017/08/21</td>
										<td><span class="mark-success">10:30-11:30</span></td>
										<td>项目管理师培训</td>
										<td>第三讲-项目的风险</td>
									  </tr>
									<tr>
										<td>2017/08/21</td>
										<td><span class="mark-info">10:30-11:30</span></td>
										<td>项目管理师培训</td>
										<td>第三讲-项目的风险</td>
									  </tr>
									<tr>
										<td>2017/08/21</td>
										<td><span class="mark-info">10:30-11:30</span></td>
										<td>项目管理师培训</td>
										<td>第三讲-项目的风险</td>
									  </tr>
									<tr>
										<td>2017/08/21</td>
										<td><span class="mark-warn">10:30-11:30</span></td>
										<td>项目管理师培训</td>
										<td>第三讲-项目的风险</td>
									  </tr>
									<tr>
										<td>2017/08/21</td>
										<td><span class="mark-cancel">10:30-11:30</span></td>
										<td>项目管理师培训</td>
										<td>第三讲-项目的风险</td>
									  </tr>
									</tbody>
								</table>
							</div>
							<!--课程:end-->
						</div>
						<div class="slider-slide padding8">
							<!--一个月前:start-->
							 <ul class="list">
								<li class="underline padding8 noclick">
									<div class="box-flex-1 tbpadding8">
										<p class="nowrap title bold">
										项目管理师培训
										</p>
										 <small class="block nowrap nomargin">2017/08/21</small>
										<p class="tbpadding4">
											<span class="mark-disable"><small class="color-white">项目管理师培训</small></span>
									  </p>
									   
										 <small class="nowrap">
										 <label class="color-default">
										 第三讲-项目的风险
										 </label>
										 <label class="right" style="padding-right:16px"><i class="icon icon-time size12"></i>&nbsp;一个月前</label></small>
									</div>
									<a href="curriculum_details.html" class="button margin8 radius4 outline noborder color-11 bold">10:30-11:30</a>
								</li>
								<li class="underline padding8 noclick">
									<div class="box-flex-1 tbpadding8">
										<p class="nowrap title bold">
										项目管理师培训
										</p>
										 <small class="block nowrap nomargin">2017/08/21</small>
										<p class="tbpadding4">
											<span class="mark-disable"><small class="color-white">项目管理师培训</small></span>
									  </p>
									   
										 <small class="nowrap">
										 <label class="color-default">
										 第三讲-项目的风险
										 </label>
										 <label class="right" style="padding-right:16px"><i class="icon icon-time size12"></i>&nbsp;一个月前</label></small>
									</div>
									<a class="button margin8 radius4 outline noborder color-11 bold">10:30-11:30</a>
								</li>
								<li class="underline padding8 noclick">
									<div class="box-flex-1 tbpadding8">
										<p class="nowrap title bold">
										项目管理师培训
										</p>
										 <small class="block nowrap nomargin">2017/08/21</small>
										<p class="tbpadding4">
											<span class="mark-disable"><small class="color-white">项目管理师培训</small></span>
									  </p>
									   
										 <small class="nowrap">
										 <label class="color-default">
										 第三讲-项目的风险
										 </label>
										 <label class="right" style="padding-right:16px"><i class="icon icon-time size12"></i>&nbsp;一个月前</label></small>
									</div>
									<a class="button margin8 radius4 outline noborder color-11 bold">10:30-11:30</a>
								</li>
								<li class="underline padding8 noclick">
									<div class="box-flex-1 tbpadding8">
										<p class="nowrap title bold">
										项目管理师培训
										</p>
										 <small class="block nowrap nomargin">2017/08/21</small>
										<p class="tbpadding4">
											<span class="mark-disable"><small class="color-white">项目管理师培训</small></span>
									  </p>
									   
										 <small class="nowrap">
										 <label class="color-default">
										 第三讲-项目的风险
										 </label>
										 <label class="right" style="padding-right:16px"><i class="icon icon-time size12"></i>&nbsp;一个月前</label></small>
									</div>
									<a class="button margin8 radius4 outline noborder color-11 bold">10:30-11:30</a>
								</li>
								<li class="underline padding8 noclick">
									<div class="box-flex-1 tbpadding8">
										<p class="nowrap title bold">
										项目管理师培训
										</p>
										 <small class="block nowrap nomargin">2017/08/21</small>
										<p class="tbpadding4">
											<span class="mark-disable"><small class="color-white">项目管理师培训</small></span>
									  </p>
									   
										 <small class="nowrap">
										 <label class="color-default">
										 第三讲-项目的风险
										 </label>
										 <label class="right" style="padding-right:16px"><i class="icon icon-time size12"></i>&nbsp;一个月前</label></small>
									</div>
									<a class="button margin8 radius4 outline noborder color-11 bold">10:30-11:30</a>
								</li>
							</ul>
							<!--一个月前:end-->
						</div>
						
						
						
					</div>
				</div>
			</div>
			</div>
			
			
			

        </article>

	  <footer>
			    <ul class="menubar">
		                <li class="tab active" data-role="tab" href="index.html" data-toggle="article">
		                    <i class="icon icon-home-fill"></i>
		                    <label class="tab-label">首页</label>
		                </li>
						
		                <li class="tab">
							<a href="message.html" class="block color-nav">
		                    <i class="icon icon-fileperson"></i>
		                    <label class="tab-label">我的信息</label>
							</a>
		                </li>
						 <li class="tab" data-role="tab" href="#" data-toggle="article">
						 <a href="user.html" class="block color-nav">
		                    <i class="icon icon-person"></i>
		                    <label class="tab-label">个人中心</label>
							</a>
		                </li>
		            </ul>
				</footer>
	 </section>
</div>

    <script src="../static/assets/third/seedsui/plugin/seedsui/seedsui.min.js"></script>
	
    <!--Exmobi能力-->
    <!--<script src="../../plugin/exmobi/exmobi.js"></script>-->
	<script type="text/javascript">
        /*==========
        滑动页
        ===========*/
        var carouselPage;
        function initSlider(){
            carouselPage=new Slider("#carouselPage",{
                "onSlideChangeEnd":function(e){
                    tabActive(e.index);
                }
            });

        }
        /*==========
        页签
        ===========*/
        var tabbar=document.getElementById("tabbar");
        var tab=tabbar.querySelectorAll(".tab");
        //选中tab
        function tabActive(index){
            for(var i=0,t;t=tab[i++];){
                t.classList.remove("active");
            }
            tab[index].classList.add("active");
        }
        //初始化tabbar
        function initTabbar(){
            for(var i=0,t;t=tab[i++];){
                (function(i){
                    t.addEventListener("click",function(){
                        carouselPage.slideTo(i-1);
                        tabActive(i-1);
                    },false);
                })(i);
            }
        }
        /*==========
        下拉刷新
        ===========*/
        function initDrag(){
            var drag=new Dragrefresh(carouselPage.slides[0],{
                "onRefreshStart":function(e){
                    setTimeout(function(){
                        e.refreshComplete();
                    }, 2000);
                },
                "onRefreshEnd":function(e){
                    console.log("刷新完成");
                },
                "onBottom":function(e){
                    console.log("滚动到底部啦");
                    //数据加载完成时，隐藏下面的元素
                    setTimeout(function(){
                        e.bottomContainer.style.display="none";
                    }, 5000);
                }
            });
        }
        window.addEventListener("load",function(){
            initSlider();
            initTabbar();
            initDrag();
        },false);
        //定义exmobi返回
        function back(){history.go(-1);}
    </script>
</body>
</html>