<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <title>listen hisory</title>
    <link rel="stylesheet" href="../../static/assets/agile/css/agile.layout.css">
    <link rel="stylesheet" href="../../static/assets/third/seedsui/plugin/seedsui/seedsui.min.css">
    <link rel="stylesheet" href="../../static/assets/third/seedsui/plugin/seedsui/custom.css">
</head>


<body>


<div id="section_container">

    <section data-role="section" id="page_index" class="active">

        <!--<header>
            <div class="titlebar">
                <a class="titlebar-button left" href="javascript:back()">
                    <i class="icon icon-arrowleft"></i>
                </a>
                <h1 class="text-center">listen hisory</h1>
            </div>
        </header>-->


        <!--主体-->

        <article data-role="article" id="index_article" class="active scrollbox" style="top:44px;bottom:48px;">
            <div class="bg-gray bpadding8">
                <div class="app-listBar tpadding8">
                    <span class="app-peg"></span>
                    <p class="app-listBarTitle bold"> by lots:</p>

                </div>
                <div class="group nomargin padding8">
                    <div class="table-box">
                        <table align="center" width="100%">
                            <tbody id="litsVal">
                            <tr>
                                <th width="100px;" style="text-align:center;">data</th>
                                <th width="100px;" style="word-break:break-all;table-layout:fixed;text-align:center;">
                                    singName
                                </th>
                                <th style="text-align:center;">singer</th>
                                <th style="text-align:center;">songScore</th>
                            </tr>


                            <!--<tr >
                                <td style="text-align:center;"><span class="mark-warn">10:30-11:30</span></td>
                                <td style="text-align:center;">项目管理师培训</td>
                                <td style="text-align:center;">第三讲-项目的风险</td>
                                <td style="text-align:center;">未完成</td>
                              </tr>-->

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div style="height:100px "></div>
        </article>

        <!--<footer>
                  <ul class="menubar">
                          <li class="tab active" data-role="tab" href="index.html" data-toggle="article">
                              <i class="icon icon-home-fill"></i>
                              <label class="tab-label">首页</label>
                          </li>

                          <li class="tab">
                              <a href="message.html" class="block color-nav">
                              <i class="icon icon-fileperson"></i>
                              <label class="tab-label">我的信息</label>
                              </a>
                          </li>
                           <li class="tab" data-role="tab" href="#" data-toggle="article">
                           <a href="user.html" class="block color-nav">
                              <i class="icon icon-person"></i>
                              <label class="tab-label">个人中心</label>
                              </a>
                          </li>
                      </ul>
                  </footer>-->
    </section>
</div>

<script src="../../static/assets/third/seedsui/plugin/seedsui/seedsui.min.js"></script>
<script src="../../static/assets/third/jquery/jquery-2.1.3.min.js"></script>
<!--Exmobi能力-->
<!--<script src="../../plugin/exmobi/exmobi.js"></script>-->
<script>
    (function () {
        var url = "../../get/musicPage";
        $.get(url, function (data) {
            // console.log( JSON.stringify(data.data));

            for (let dataKey in data.data) {
                var tr;
                tr = `<td style="text-align:center;"><span class="mark-warn">` + data.data[dataKey].creatTime + `</span></td>
                    <td style="word-break:break-all;table-layout:fixed;text-align:center;">` + data.data[dataKey].songName + `</td>
                    <td style="text-align:center;">` + data.data[dataKey].singer + `</td>
                    <td style="text-align:center;">` + data.data[dataKey].songScore + `</td>`


                $("#litsVal").append('<tr>' + tr + '</tr>');
            }
        })

    })();
</script>
</body>
</html>