<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>识别图中文字</title>
</head>
<body>

<div class="form-group">
    <label  class="col-sm-2 control-label">解析图片:</label>
    <div>
        <input type="file" id="testFile" name="file" accept=".jpg,.jpeg,.png,.gif,.bmp,.tiff">
    </div>
    <div class="col-sm-10">
    <img style="width:200px;height: 200px;" id="testImage">
    </div>
    <div>
        <input id="remark" name="remark" type="text" hidden="hidden"
               value="">
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script>
    // Import image
    var $testFile = $('#testFile');
    var URL = window.URL || window.webkitURL|| window.mozURL;
    var uploadedImageName = '';
    var uploadedImageType = 'image/jpeg';
    var uploadedImageURL;
    if (URL) {
        $testFile.change(function () {
            var files = this.files;
            var file;
            if (files && files.length) {
                file = files[0];
                if (/^image\/\w+$/.test(file.type)) {
                    uploadedImageName = file.name;
                    uploadedImageType = file.type;
                    if (uploadedImageURL) {
                        URL.revokeObjectURL(uploadedImageURL);
                    }
                    uploadedImageURL = URL.createObjectURL(file);
                    $("#testImage").attr("src",uploadedImageURL);
                    $testFile.val('');
                    //上传图片
                    uplaodImg()
                } else {
                    window.alert('请选择一张图片');
                }
            }
            $("#remark").val("翻译了啊")
        });
    } else {
        console.log("当前浏览器不支持URL");
    }

    function get(image_){
        /* jQuery.ajax({
           url : "readImage/gettext?ajax=" + Math.random(),
            dataType : "json",
            type : "post",
            cache : false,
            data:image_,
            processData: false, // 告诉jQuery不要去处理发送的数据
            contentType: false, // 告诉jQuery不要去设置Content-Type请求头
            success : function(json) {
                if(json.code==200){
                    console.log(json.data);
                }else{
                    alert(json.message)
                }
            },
            error : function() {
                alert("请求错误");
            }


        });*/
        console.log(123)
    }
</script>
<script type="text/javascript">
    function uplaodImg(){
        var remark=$("#remark").val();
        var formData = new FormData();
        formData.append('file', $testFile);  //添加图片信息的参数
        $.ajax({
            url : "readImage/gettext?ajax=" + Math.random(),
            dataType : "json",
            type : "post",
            cache : false,
            data:formData,
            processData: false, // 告诉jQuery不要去处理发送的数据
            contentType: false, // 告诉jQuery不要去设置Content-Type请求头
            success : function(json) {
                console.log(json)
                if(json.code==200){
                    /*$("#imgpath").val(json.message);
                    $("#imgsrc").html('<img src="'+json.message+'" width="120" height="150">')*/
                    console.log(json.data);
                }else{
                    alert(json.message)
                }
            },
            error : function() {
                alert("请求错误");
            }
        });
        return;
    }
</script>
</body>
</html>
