<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta name="format-detection" content="telephone=no">
    <title>我是讲师</title>
	<link rel="stylesheet" href="../static/assets/agile/css/agile.layout.css">
    <link rel="stylesheet" href="../static/assets/third/seedsui/plugin/seedsui/seedsui.min.css">
	<link rel="stylesheet" href="../static/assets/third/seedsui/plugin/seedsui/custom.css">
	<script language="JavaScript" type="text/javascript">
		window.onload=function(){
			/*滚动效果*/ 
			yzsScroll();
		}
		/*滚动效果*/
		function yzsScroll(){
			var navDom=document.querySelector('#page_index');
			var maxDistance=navDom.offsetTop+navDom.offsetHeight;
			var headerDom=document.querySelector('.jd_header');
			headerDom.style.backgroundColor='rgba(28,130,212,0)';
			/*注册onscroll事件*/
			window.onscroll=function(){
				var scrollDistance=window.document.body.scrollTop;
				var percent =scrollDistance/maxDistance;
				if(percent>1){
					percent=1;
				}
				headerDom.style.backgroundColor='rgba(28,130,212,'+percent+')';
			}
		}
	</script>

</head>

<body>



<div id="section_container">
			
    <section data-role="section" id="page_index" class="active">

        <!--主体-->
		
		   <article data-role="article" id="index_article"  class="active"  style="top:0px;bottom:48px;">
		   <div class="jd_header text-center">
				<span class="header_login">我是讲师</span>
			</div>
            <!--轮播-->
            <div class="slider-container" id="carousel1">
                <div class="slider-wrapper">
                    <div class="slider-slide">
                        <img class="slide-banner" src="../static/images/banner.jpg"/>
                    </div>
                    <div class="slider-slide">
                        <img class="slide-banner" src="../static/images/banner-2.jpg"/>
                    </div>
                    <div class="slider-slide">
					<img class="slide-banner" src="../static/images/banner-3.jpg"/>
                    </div>
                </div>
                <div class="slider-pagination"></div>
            </div>

            <ul class="grid tbmargin8" data-col="4" data-rowspace="8">
				<li>
					<a class="size40 radiusround bg-1">
						<i class="icon icon-rdohistory-fill size24"></i>
					</a>
					<label>课程计划</label>
				</li>
				<li>
					<a href="curriculum.html" class="size40 radiusround bg-2">
						<i class="icon icon-write-fill size24"></i>
					</a>
					<label>上课情况</label>
				</li>
				<li>
					<a class="size40 radiusround bg-3">
						<i class="icon icon-persons-fill size24"></i>
					</a>
					<label>已结束课程</label>
				</li>
				<li>
					<a class="size40 radiusround bg-4">
						<i class="icon icon-calendar-fill size24"></i>
					</a>
					<label>其他课程</label>
				</li>
			</ul>
			<div class="sliver noborder text-center color-black tbpadding15 bold">一 近期课程 一</div>
			<div class="bg-gray bpadding8">
			<div class="group nomargin">
            <ul class="list">
                <li class="box-middle nounderline tbpadding8 noclick">
                    <i class="size16 icon icon-fav-fill margin8"></i>
                    <div class="box-flex-1 tbpadding8">
                        <p class="nowrap">
                        项目管理培训师
                        </p>
						<p class="padding4">
							<span class="mark-disable"><small class="color-white">项目管理</small></span>
							<span class="mark-disable"><small class="color-white">入职培训</small></span>
							<span class="mark-disable"><small class="color-white">重庆</small></span>
							</p>
                        <small class="block nowrap"><i class="icon icon-time size12"></i>&nbsp;时间：10月19日&nbsp;<i class="icon icon-position size12"></i>&nbsp;地点：重庆第一教室</small>
                    </div>
                    <a class="button margin8 radius4 outline grayscale">查看详细</a>
                </li>
            </ul>
			</div>
			</div>
			
			<div class="bg-gray bpadding8">
				<div class="group nomargin">
				<ul class="list">
					<li class="box-middle nounderline tbpadding8 noclick">
						<i class="size16 icon icon-fav-fill margin8"></i>
						<div class="box-flex-1 tbpadding8">
							<p class="nowrap">
							项目风险管理
							</p>
							<p class="padding4">
							<span class="mark-disable"><small class="color-white">计算机</small></span>
							<span class="mark-disable"><small class="color-white">管理</small></span>
							<span class="mark-disable"><small class="color-white">人力资源管理</small></span>
							</p>
							<small class="block nowrap"><i class="icon icon-time size12"></i>&nbsp;时间：10月20日&nbsp;<i class="icon icon-position size12"></i>&nbsp;地点：湖北武汉</small>
						</div>
						<a class="button margin8 radius4 outline grayscale">查看详细</a>
					</li>
				</ul>
			</div>
			</div>
			
			<div class="bg-gray bpadding8">
			<div class="group nomargin">
            <ul class="list">
                <li class="box-middle nounderline tbpadding8 noclick">
                    <i class="size16 icon icon-fav-fill margin8"></i>
                    <div class="box-flex-1 tbpadding8">
                        <p class="nowrap">
                        项目管理培训师
                        </p>
						<p class="padding4">
							<span class="mark-disable"><small class="color-white">项目管理</small></span>
							<span class="mark-disable"><small class="color-white">入职培训</small></span>
							<span class="mark-disable"><small class="color-white">重庆</small></span>
							</p>
                        <small class="block nowrap"><i class="icon icon-time size12"></i>&nbsp;时间：10月19日&nbsp;<i class="icon icon-position size12"></i>&nbsp;地点：重庆第一教室</small>
                    </div>
                    <a class="button margin8 radius4 outline grayscale">查看详细</a>
                </li>
            </ul>
			</div>
			</div>

        </article>

	  <footer>
			    <ul class="menubar">
		                <li class="tab active" data-role="tab" href="index.html" data-toggle="article">
		                    <i class="icon icon-home-fill"></i>
		                    <label class="tab-label">首页</label>
		                </li>
						
		                <li class="tab">
							<a href="message.html" class="block color-nav">
		                    <i class="icon icon-fileperson"></i>
		                    <label class="tab-label">我的信息</label>
							</a>
		                </li>
						 <li class="tab" data-role="tab" href="#" data-toggle="article">
						 <a href="user.html" class="block color-nav">
		                    <i class="icon icon-person"></i>
		                    <label class="tab-label">个人中心</label>
							</a>
		                </li>
		            </ul>
				</footer>
	 </section>
</div>

    <script src="../static/assets/third/seedsui/plugin/seedsui/seedsui.min.js"></script>
	
    <!--Exmobi能力-->
    <!--<script src="../../plugin/exmobi/exmobi.js"></script>-->
    <script type="text/javascript">
        window.onload=function(){
            var s1=new Slider("#carousel1",{
                "pagination":".slider-pagination",
                "autoplay":5000,
				"loop":true,
            });
        }
    </script>
</body>
</html>