<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta name="format-detection" content="telephone=no">
    <title>我的消息</title>
	<link rel="stylesheet" href="../static/assets/agile/css/agile.layout.css">
    <link rel="stylesheet" href="../static/assets/third/seedsui/plugin/seedsui/seedsui.min.css">
	<link rel="stylesheet" href="../static/assets/third/seedsui/plugin/seedsui/custom.css">
</head>

<body>



<div id="section_container">
			
    <section data-role="section" id="page_index" class="active">

		<header>
            <div class="titlebar">
                <a class="titlebar-button left" href="javascript:back()">
                    <i class="icon icon-arrowleft"></i>
                </a>
                <h1 class="text-center">我的消息</h1>
				<div class="right">
				<a class="titlebar-button">
                <i class="icon icon-persons"></i>
            </a>
			</div>
            </div>
        </header>
		

        <!--主体-->
		
		   <article data-role="article" id="index_article"  class="active"  style="top:44px;bottom:48px;">
		   <div class="padding8">
				   <h1 class="article-title">今日课程安排提醒</h1>
				<small class="tbmargin8">发布时间：2017-09-28 | 浏览：687</small>
				<hr class="tbmargin8">
				<p class="paragraph nopadding">
					您今天有课程安排哟，请注意按时参加！
				</p>
				<p class="paragraph nopadding">
				   <a class="radius4 button outline" style="line-height:26px; height:26px">
						<i class="icon icon-file size12"></i>
						<label>课程详情</label>
					</a>
					</p>
			</div>
			

			

        </article>

	  <footer>
			    <ul class="menubar">
		                <li class="tab" data-role="tab" href="index.html" data-toggle="article">
		                    <i class="icon icon-home color-nav"></i>
		                    <label class="tab-label">首页</label>
		                </li>
						
		                <li class="tab active">
							<a href="message.html" class="block">
		                    <i class="icon icon-fileperson-fill"></i>
		                    <label class="tab-label">我的信息</label>
							</a>
		                </li>
						 <li class="tab" data-role="tab" href="#" data-toggle="article">
						 <a href="user.html" class="block color-nav">
		                    <i class="icon icon-person"></i>
		                    <label class="tab-label">个人中心</label>
							</a>
		                </li>
		            </ul>
				</footer>
	 </section>
</div>

    <script src="assets/third/seedsui/plugin/seedsui/seedsui.min.js"></script>
	
    <!--Exmobi能力-->
    <!--<script src="../../plugin/exmobi/exmobi.js"></script>-->
	
</body>
</html>