<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <title>我的消息</title>
    <link rel="stylesheet" href="../static/assets/agile/css/agile.layout.css">
    <link rel="stylesheet" href="../static/assets/third/seedsui/plugin/seedsui/seedsui.min.css">
    <link rel="stylesheet" href="../static/assets/third/seedsui/plugin/seedsui/custom.css">
</head>

<body>


<div id="section_container">

    <section data-role="section" id="page_index" class="active">

        <header>
            <div class="titlebar">
                <a class="titlebar-button left" href="javascript:back()">
                    <i class="icon icon-arrowleft"></i>
                </a>
                <h1 class="text-center">我的消息</h1>
                <div class="right">
                    <a class="titlebar-button">
                        <i class="icon icon-persons"></i>
                    </a>
                </div>
            </div>
        </header>


        <!--主体-->

        <article data-role="article" id="index_article" class="active" style="top:44px;bottom:48px;">
            <div class="bpadding8">
                <ul class="list between border-content">

                    <li>
                        <div class="justify text-center">
                            <div class="photo bg-gray">
                                <i class="icon icon-chatline color-default"></i>
                                <span class="badge right absolute" style="top:-4px; right:-8px">重要</span>
                            </div>

                        </div>
                        <div class="justify-content">
                            <p class="nopadding">今日课程安排提醒</p>
                            <small class="top right">昨天 11:30</small>
                            <p class="color-placeholder nowrap">您今天有课程安排哟，请注意按请注意按时参加时参加！</p>
                            <small class="nomargin right top tpadding25">
                                <i class="icon icon-arrowright"></i>
                            </small>
                        </div>
                    </li>


                    <li>
                        <div class="justify">
                            <div class="photo bg-gray">
                                <i class="icon icon-chatline color-default"></i>
                            </div>
                        </div>
                        <div class="justify-content">
                            <p class="nopadding">课程计划变更提醒</p>
                            <small class="top right">昨天 11:30</small>
                            <p class="color-placeholder nowrap">课程计划变更操作成功，系统将按新的课</p>
                            <small class="nomargin right top tpadding25">
                                <i class="icon icon-arrowright"></i>
                            </small>
                        </div>
                    </li>

                    <li>
                        <div class="justify">
                            <div class="photo bg-gray">
                                <i class="icon icon-chatline color-default"></i>
                            </div>
                        </div>
                        <div class="justify-content">
                            <p class="nopadding">课程计划变更提醒</p>
                            <small class="top right">昨天 11:30</small>
                            <p class="color-placeholder nowrap">课程计划变更操作成功，系统将按新的课</p>
                            <small class="nomargin right top tpadding25">
                                <i class="icon icon-arrowright"></i>
                            </small>
                        </div>
                    </li>

                    <li>
                        <div class="justify">
                            <div class="photo bg-gray">
                                <i class="icon icon-chatline color-default"></i>
                            </div>
                        </div>
                        <div class="justify-content">
                            <p class="nopadding">课程计划变更提醒</p>
                            <small class="top right">昨天 11:30</small>
                            <p class="color-placeholder nowrap">课程计划变更操作成功，系统将按新的课</p>
                            <small class="nomargin right top tpadding25">
                                <i class="icon icon-arrowright"></i>
                            </small>
                        </div>
                    </li>

                    <li>
                        <div class="justify">
                            <div class="photo bg-gray">
                                <i class="icon icon-chatline color-default"></i>
                            </div>
                        </div>
                        <div class="justify-content">
                            <p class="nopadding">课程计划变更提醒</p>
                            <small class="top right">昨天 11:30</small>
                            <p class="color-placeholder nowrap">课程计划变更操作成功，系统将按新的课</p>
                            <small class="nomargin right top tpadding25">
                                <i class="icon icon-arrowright"></i>
                            </small>
                        </div>
                    </li>

                </ul>
            </div>


        </article>

        <footer>
            <ul class="menubar">
                <li class="tab" data-role="tab" href="index.html" data-toggle="article">
                    <i class="icon icon-home  color-nav"></i>
                    <label class="tab-label">首页</label>
                </li>

                <li class="tab active">
                    <a href="message.html" class="block">
                        <i class="icon icon-fileperson-fill"></i>
                        <label class="tab-label">我的信息</label>
                    </a>
                </li>
                <li class="tab" data-role="tab" href="#" data-toggle="article">
                    <a href="user.html" class="block color-nav">
                        <i class="icon icon-person"></i>
                        <label class="tab-label">个人中心</label>
                    </a>
                </li>
            </ul>
        </footer>
    </section>
</div>

<script src="../static/assets/third/seedsui/plugin/seedsui/seedsui.min.js"></script>

<!--Exmobi能力-->
<!--<script src="../../plugin/exmobi/exmobi.js"></script>-->

</body>
</html>