<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <title>课程计划详情</title>
    <link rel="stylesheet" href="../static/assets/agile/css/agile.layout.css">
    <link rel="stylesheet" href="../static/assets/third/seedsui/plugin/seedsui/seedsui.min.css">
    <link rel="stylesheet" href="../static/assets/third/seedsui/plugin/seedsui/custom.css">
</head>

<body>


<div id="section_container">

    <section data-role="section" id="page_index" class="active">

        <header>
            <div class="titlebar">
                <a class="titlebar-button left" href="javascript:back()">
                    <i class="icon icon-arrowleft"></i>
                </a>
                <h1 class="text-center">课程计划详情</h1>
            </div>
        </header>


        <!--主体-->

        <article data-role="article" id="index_article" class="active scrollbox" style="top:44px;bottom:54px;">
            <div class="bg-gray bpadding8">
                <div class="app-listBar tpadding8">
                    <span class="app-peg"></span>
                    <p class="app-listBarTitle bold"> 课程情况</p>
                </div>
                <div class="app-orderDetailBlock">
                    <div class="app-orderDetailRight">
                        <p>课程名称：<span>项目管理师培训</span></p>
                        <p>日期时间：<span class="app-color-info">2017-08-21  14:00至15:00</span></p>
                        <p>课程主题：<span class="app-color-warn">第3讲 项目的成本管理</span></p>
                        <p>课程大纳：<span>关于项目的成本管理与总体进度的关系</span></p>
                        <p>状态：<span class="app-color-primary">未开始</span></p>

                    </div>
                </div>
            </div>
            <div class="bg-gray bpadding8">
                <div class="group nomargin">
                    <ul class="tabbar" data-type="animate-oneline" id="tabbar">
                        <li class="tab active">
                            <label class="tabbar-tab-label">重庆</label>
                        </li>
                    </ul>
                    <div class="slider-container" id="carouselPage" style="height: 100%;">

                        <div class="slider-wrapper" style="padding-bottom:80px">
                            <div class="slider-slide padding8">
                                <!--课程:start-->
                                <ul class="list">
                                    <li class="box-middle tbpadding8 noclick">
                                        <div class="box-flex-1 tbpadding8">
                                            <p class="nowrap tbmargin8">
                                                地点：3楼5号会议室
                                                <a class="button right radius4 outline noborder color-11"
                                                   style="height:20px; line-height:20px;">座位情况：36/50</a>
                                            </p>
                                            <p class="nowrap tbmargin8">
                                                讲师：俞敏洪(项目部)
                                            </p>
                                            <p class="nowrap tbmargin8">
                                                主持人：张一山(管理部)
                                            </p>
                                            <p class="block tbmargin8 nowrap">参训部门：项目部、工程部</p>

                                            <small class="nowrap">
                                                <label class="color-default">
                                                    <small>参会状态：<b class="color-4">需要回执/已回执</b></small>
                                                </label>
                                                <label class="right" style="margin-top:-20px;"><a
                                                        class="button radius4">参会回执确认</a></label>
                                            </small>

                                        </div>

                                    </li>
                                    <li class="underline padding8">
                                        <p>指定参会人员</p>
                                    </li>
                                    <li>
                                        <p class="tbpadding4">
                                            <span class="mark-info tbmargin4 outline"><small class="color-white">王佳怡(项目部)</small></span>
                                            <span class="mark-info tbmargin4"><small class="color-white">张艳(项目部)</small></span>
                                            <span class="mark-info tbmargin4"><small
                                                    class="color-white">刘宗伟(工程部)</small></span>
                                            <span class="mark-info tbmargin4"><small
                                                    class="color-white">王佳怡(项目部)</small></span>
                                            <span class="mark-info tbmargin4"><small
                                                    class="color-white">王佳怡</small></span>
                                            <span class="mark-info tbmargin4"><small class="color-white">张艳(项目部)</small></span>
                                            <span class="mark-info tbmargin4"><small
                                                    class="color-white">王佳怡(项目部)</small></span>
                                            <span class="mark-info tbmargin4"><small
                                                    class="color-white">王佳怡(项目部)</small></span>
                                            <span class="mark-info tbmargin4"><small
                                                    class="color-white">王佳怡(项目部)</small></span>
                                            <span class="mark-info tbmargin4"><small class="color-white">张艳(项目部)</small></span>
                                        </p>
                                    </li>
                                    <li class="underline padding8">
                                        <p>自愿参会人员</p>
                                    </li>
                                    <li>
                                        <p class="tbpadding4">
                                            <span class="mark-disable tbmargin4"><small
                                                    class="color-white">王佳怡(项目部)</small></span>
                                            <span class="mark-disable tbmargin4"><small
                                                    class="color-white">张艳(项目部)</small></span>
                                            <span class="mark-disable tbmargin4"><small
                                                    class="color-white">刘宗伟(工程部)</small></span>
                                            <span class="mark-disable tbmargin4"><small
                                                    class="color-white">王佳怡(项目部)</small></span>
                                            <span class="mark-disable tbmargin4"><small class="color-white">王佳怡</small></span>
                                            <span class="mark-disable tbmargin4"><small
                                                    class="color-white">张艳(项目部)</small></span>
                                            <span class="mark-disable tbmargin4"><small
                                                    class="color-white">王佳怡(项目部)</small></span>
                                            <span class="mark-disable tbmargin4"><small
                                                    class="color-white">王佳怡(项目部)</small></span>
                                            <span class="mark-disable tbmargin4"><small
                                                    class="color-white">王佳怡(项目部)</small></span>
                                            <span class="mark-disable tbmargin4"><small
                                                    class="color-white">张艳(项目部)</small></span>
                                        </p>
                                    </li>
                                </ul>
                                <!--课程:end-->
                            </div>

                        </div>
                    </div>
                </div>
            </div>


        </article>

        <footer>
            <ul class="menubar">
                <li class="tab active" data-role="tab" href="index.html" data-toggle="article">
                    <i class="icon icon-home-fill"></i>
                    <label class="tab-label">首页</label>
                </li>

                <li class="tab">
                    <a href="message.html" class="block color-nav">
                        <i class="icon icon-fileperson"></i>
                        <label class="tab-label">我的信息</label>
                    </a>
                </li>
                <li class="tab" data-role="tab" href="#" data-toggle="article">
                    <a href="user.html" class="block color-nav">
                        <i class="icon icon-person"></i>
                        <label class="tab-label">个人中心</label>
                    </a>
                </li>
            </ul>
        </footer>
    </section>
</div>

<script src="../static/assets/third/seedsui/plugin/seedsui/seedsui.min.js"></script>

<!--Exmobi能力-->
<!--<script src="../../plugin/exmobi/exmobi.js"></script>-->
<script type="text/javascript">
    /*==========
    滑动页
    ===========*/
    var carouselPage;

    function initSlider() {
        carouselPage = new Slider("#carouselPage", {
            "onSlideChangeEnd": function (e) {
                tabActive(e.index);
            }
        });

    }

    /*==========
    页签
    ===========*/
    var tabbar = document.getElementById("tabbar");
    var tab = tabbar.querySelectorAll(".tab");

    //选中tab
    function tabActive(index) {
        for (var i = 0, t; t = tab[i++];) {
            t.classList.remove("active");
        }
        tab[index].classList.add("active");
    }

    //初始化tabbar
    function initTabbar() {
        for (var i = 0, t; t = tab[i++];) {
            (function (i) {
                t.addEventListener("click", function () {
                    carouselPage.slideTo(i - 1);
                    tabActive(i - 1);
                }, false);
            })(i);
        }
    }

    /*==========
    下拉刷新
    ===========*/
    function initDrag() {
        var drag = new Dragrefresh(carouselPage.slides[0], {
            "onRefreshStart": function (e) {
                setTimeout(function () {
                    e.refreshComplete();
                }, 2000);
            },
            "onRefreshEnd": function (e) {
                console.log("刷新完成");
            },
            "onBottom": function (e) {
                console.log("滚动到底部啦");
                //数据加载完成时，隐藏下面的元素
                setTimeout(function () {
                    e.bottomContainer.style.display = "none";
                }, 5000);
            }
        });
    }

    window.addEventListener("load", function () {
        initSlider();
        initTabbar();
        initDrag();
    }, false);

    //定义exmobi返回
    function back() {
        history.go(-1);
    }
</script>
</body>
</html>