<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <title>积分明细记录</title>
    <link rel="stylesheet" href="../static/assets/agile/css/agile.layout.css">
    <link rel="stylesheet" href="../static/assets/third/seedsui/plugin/seedsui/seedsui.min.css">
    <link rel="stylesheet" href="../static/assets/third/seedsui/plugin/seedsui/custom.css">
</head>

<body>


<div id="section_container">

    <section data-role="section" id="page_index" class="active">

        <header>
            <div class="titlebar">
                <a class="titlebar-button left" href="javascript:back()">
                    <i class="icon icon-arrowleft"></i>
                </a>
                <h1 class="text-center">积分明细记录</h1>
            </div>
        </header>


        <!--主体-->

        <article data-role="article" id="index_article" class="active scrollbox" style="top:44px;bottom:48px;">

            <div class="bg-gray bpadding8">
                <div class="group nomargin">
                    <div class="inputbox underline">
                        <label class="inputbox-left" style="width:25%">查询时间段</label>
                        <div class="inputbox-right inputbox">
                            <input type="text" class="text-center" placeholder="开始时间" readonly="readonly" id="time1"/>
                            <small class="inline-block vmiddle">到</small>
                            <input type="text" class="text-center" placeholder="结束时间" readonly="readonly" id="time2"/>
                        </div>
                    </div>
                    <div class="inputbox underline">
                        <label class="inputbox-left" style="width:25%">积分类型</label>
                        <div class="inputbox-right inputbox">
                            <select class="inputbox-input">
                                <option>请选择积分类型</option>
                                <option>积分礼品</option>
                                <option>账号礼品</option>
                            </select>
                        </div>
                        <input type="button" class="button" value="查询" style="margin-right:8px;">
                    </div>

                </div>
                <div class="group nomargin">
                    <ul class="tabbar" data-type="animate-oneline" id="tabbar">
                        <li class="tab active">
                            <label class="tabbar-tab-label">账号积分明细</label>
                        </li>
                        <li class="tab">
                            <label class="tabbar-tab-label">礼品积分明细</label>
                        </li>
                    </ul>
                    <div class="slider-container" id="carouselPage" style="height: 100%;">
                        <div class="slider-wrapper" style="padding-bottom:70px">
                            <div class="slider-slide padding8">
                                <!--start-->
                                <div class="table-box">
                                    <table align="center">
                                        <tbody>
                                        <tr>
                                            <th width="40px;">日期</th>
                                            <th>积分类型</th>
                                            <th>积分原因</th>
                                            <th>获得分值</th>
                                            <th>累计积分</th>
                                        </tr>
                                        <tr>
                                            <td><span class="mark-info">2017/08/21 10:30:53</span></td>
                                            <td>账号积分</td>
                                            <td>部门培训</td>
                                            <td class="text-center">0.5</td>
                                            <td class="text-center">0.5</td>
                                        </tr>
                                        <tr>
                                            <td><span class="mark-info">2017/08/21 10:30:53</span></td>
                                            <td>账号积分</td>
                                            <td>跨专业培训</td>
                                            <td class="text-center">1</td>
                                            <td class="text-center">1.5</td>
                                        </tr>
                                        <tr>
                                            <td><span class="mark-info">2017/08/21 10:30:53</span></td>
                                            <td>账号积分</td>
                                            <td>部门培训</td>
                                            <td class="text-center">0.5</td>
                                            <td class="text-center">2</td>
                                        </tr>
                                        <tr>
                                            <td><span class="mark-info">2017/08/21 10:30:53</span></td>
                                            <td>账号积分</td>
                                            <td>部门培训</td>
                                            <td class="text-center">0.5</td>
                                            <td class="text-center">2.5</td>
                                        </tr>
                                        <tr>
                                            <td><span class="mark-info">2017/08/21 10:30:53</span></td>
                                            <td>账号积分</td>
                                            <td>部门培训</td>
                                            <td class="text-center">1.5</td>
                                            <td class="text-center">4.5</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!--end-->
                            </div>
                            <div class="slider-slide padding8">
                                <!--start-->
                                <div class="table-box">
                                    <table align="center">
                                        <tbody>
                                        <tr>
                                            <th width="40px;">日期</th>
                                            <th>积分类型</th>
                                            <th>积分原因</th>
                                            <th>获得分值</th>
                                            <th>累计积分</th>
                                        </tr>
                                        <tr>
                                            <td><span class="mark-info">2017/08/21 10:30:53</span></td>
                                            <td>账号积分</td>
                                            <td>部门培训</td>
                                            <td class="text-center">0.5</td>
                                            <td class="text-center">0.5</td>
                                        </tr>
                                        <tr>
                                            <td><span class="mark-info">2017/08/21 10:30:53</span></td>
                                            <td>账号积分</td>
                                            <td>跨专业培训</td>
                                            <td class="text-center">1</td>
                                            <td class="text-center">1.5</td>
                                        </tr>
                                        <tr>
                                            <td><span class="mark-info">2017/08/21 10:30:53</span></td>
                                            <td>账号积分</td>
                                            <td>部门培训</td>
                                            <td class="text-center">0.5</td>
                                            <td class="text-center">2</td>
                                        </tr>
                                        <tr>
                                            <td><span class="mark-info">2017/08/21 10:30:53</span></td>
                                            <td>账号积分</td>
                                            <td>部门培训</td>
                                            <td class="text-center">0.5</td>
                                            <td class="text-center">2.5</td>
                                        </tr>
                                        <tr>
                                            <td><span class="mark-info">2017/08/21 10:30:53</span></td>
                                            <td>账号积分</td>
                                            <td>部门培训</td>
                                            <td class="text-center">1.5</td>
                                            <td class="text-center">4.5</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!--end-->
                            </div>


                        </div>
                    </div>
                </div>
            </div>


        </article>

        <footer>
            <ul class="menubar">
                <li class="tab" data-role="tab" href="index.html" data-toggle="article">
                    <i class="icon icon-home"></i>
                    <label class="tab-label">首页</label>
                </li>

                <li class="tab">
                    <a href="message.html" class="block color-nav">
                        <i class="icon icon-fileperson"></i>
                        <label class="tab-label">我的信息</label>
                    </a>
                </li>
                <li class="tab active" data-role="tab" href="#" data-toggle="article">
                    <a href="user.html" class="block">
                        <i class="icon icon-person-fill"></i>
                        <label class="tab-label">个人中心</label>
                    </a>
                </li>
            </ul>
        </footer>
    </section>
</div>

<script src="../static/assets/third/seedsui/plugin/seedsui/seedsui.min-date.js"></script>

<!--Exmobi能力-->
<!--<script src="../../plugin/exmobi/exmobi.js"></script>-->
<script type="text/javascript">
    /*==========
    滑动页
    ===========*/
    var carouselPage;

    function initSlider() {
        carouselPage = new Slider("#carouselPage", {
            "onSlideChangeEnd": function (e) {
                tabActive(e.index);
            }
        });

    }

    /*==========
    页签
    ===========*/
    var tabbar = document.getElementById("tabbar");
    var tab = tabbar.querySelectorAll(".tab");

    //选中tab
    function tabActive(index) {
        for (var i = 0, t; t = tab[i++];) {
            t.classList.remove("active");
        }
        tab[index].classList.add("active");
    }

    //初始化tabbar
    function initTabbar() {
        for (var i = 0, t; t = tab[i++];) {
            (function (i) {
                t.addEventListener("click", function () {
                    carouselPage.slideTo(i - 1);
                    tabActive(i - 1);
                }, false);
            })(i);
        }
    }

    /*==========
    下拉刷新
    ===========*/
    function initDrag() {
        var drag = new Dragrefresh(carouselPage.slides[0], {
            "onRefreshStart": function (e) {
                setTimeout(function () {
                    e.refreshComplete();
                }, 2000);
            },
            "onRefreshEnd": function (e) {
                console.log("刷新完成");
            },
            "onBottom": function (e) {
                console.log("滚动到底部啦");
                //数据加载完成时，隐藏下面的元素
                setTimeout(function () {
                    e.bottomContainer.style.display = "none";
                }, 5000);
            }
        });
    }

    window.addEventListener("load", function () {
        initSlider();
        initTabbar();
        initDrag();
    }, false);

    //定义exmobi返回
    function back() {
        history.go(-1);
    }
</script>
<script type="text/javascript">
    var timeStart = new SpDate({
        "viewType": "datetime",
        "minutesData": [{"key": 0, "value": "0分"}, {"key": 30, "value": "30分"}],
        "yearClass": "text-center",
        "monthClass": "text-center",
        "dayClass": "text-center",
        "hourClass": "text-center",
        "minuteClass": "text-center",
    });
    document.getElementById("time1").onclick = function () {
        var input = this;
        timeStart.setOnClickDone(function (e) {
            input.value = e.activeText;
            e.hide();
        });
        timeStart.show();
    }
    var timeEnd = new SpDate({
        "viewType": "datetime",
        "minutesData": [{"key": 0, "value": "0分"}, {"key": 30, "value": "30分"}],
        "yearClass": "text-center",
        "monthClass": "text-center",
        "dayClass": "text-center",
        "hourClass": "text-center",
        "minuteClass": "text-center",
    });
    document.getElementById("time2").onclick = function () {
        var input = this;
        timeEnd.setOnClickDone(function (e) {
            input.value = e.activeText;
            e.hide();
        });
        timeEnd.show();
    }
</script>
</body>
</html>