<!doctype html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"><meta name="format-detection" content="telephone=no">
	<title>个人中心</title>
	<link rel="stylesheet" href="../static/assets/agile/css/agile.layout.css">
	<link rel="stylesheet" href="../static/assets/third/seedsui/plugin/seedsui/seedsui.min.css">
	<link rel="stylesheet" href="../static/assets/third/seedsui/plugin/seedsui/custom.css">
	<style>
	.card-handler > a{ height:auto; line-height:16px;}
	</style>
</head>

<body>
<div id="section_container">

		<article id="main_article" data-role="article" class="active" style="top:0px; bottom:50px">
			<div style="border-bottom:1px solid #ddd;">
    			<div class="userinfo before-filter-blur">	    
					<span class="right absolute color-white" style="top:10px; right:10px"><i class="ico icon-femalesign"></i> <i class="ico icon-malesign"></i></span>
					<a href="../static/user-head.html">
	    			<span class="photo radiusround size80" style="border:2px solid white;background-image:url(images/me.jpg);"></span>
					</a>
	    			<span class="photoname bold">路一鸣</span>
					<small class="color-white">行政部-职员</small>
					<small class="color-white block">CPSI：一级</small>
	    			<div class="text-center padding8">
                        <a href="user_preview.html" style="width:150px;height:26px;line-height:26px;" class="button radius40 outline white noclick"><i class="icon icon-contact-fill size12" style="line-height:12px;"></i>&nbsp;专业：项目管理</a>
                        <a style="width:190px;height:26px;line-height:26px;" class="button radius40 outline white noclick"><i class="icon icon-gear-fill size12" style="line-height:12px;"></i>&nbsp;等级：初级项目管理专家</a>
	    			</div>
    			</div>
    			<div class="card-handler underline card-handler-bordered" data-col="3" style="padding:0 0 15px 0;">
				   <div class="block text-center tbpadding15">账号等级</div>
    				<a href="#">
					<b class="block title color-black nopadding">28</b>
    					<i class="icon icon-medal-fill"></i>
    					<span>部门积分</span>
    				</a>
    				<a>
					<b class="block title color-black nopadding">6级 学弱</b>
    					<i class="icon icon-menuup-fill"></i>
    					<span>等级</span>
    				</a>
    				<a>
					   <b class="block title color-black nopadding">20</b>
    					<i class="icon icon-user-fill"></i>
    					<span>个人积分</span>
    				</a>
    			</div>
				<div class="card-handler card-handler-bordered" data-col="3" style="padding:0 0 15px 0;">
				   <div class="block text-center tbpadding15">礼品积分</div>
    				<a href="#">
					<b class="block title color-black nopadding">28</b>
    					<i class="icon icon-medal-fill"></i>
    					<span>部门积分</span>
    				</a>
    				<a class="radius4 button color-white" style="line-height:36px; height:36px">
								<i class="icon icon-medal size12  color-white"></i>
								<label>兑换礼品</label>
					</a>
    				<a>
					   <b class="block title color-black nopadding">20</b>
    					<i class="icon icon-user-fill"></i>
    					<span>个人积分</span>
    				</a>
    			</div>
    		</div>
    		<div style="height:12px;background-color:#f4f4f4"></div>
		    <div>
			<ul class="grid border size40" data-col="4" data-rowspace="12">
				<li>
					<a class="photo border">
						<i class="icon icon-appbag"></i>
						<span class="tip">5</span>
					</a>
					<label>积分明细记录</label>
				</li>
				<li>
					<a class="photo border">
						<i class="icon icon-shopbag"></i>
					</a>
					<label>礼品兑换记录</label>
				</li>
				<li>
					<a class="photo border">
						<i class="icon icon-lock2"></i>
					</a>
					<label>修改登录密码</label>
				</li>
				<li>
					<a class="photo border">
						<i class="icon icon-weixin"></i>
					</a>
					<label>微信账号绑定</label>
				</li>
				
			</ul>
			</div>
			<div style="height:12px;background-color:#f4f4f4"></div>
    		<div style="border-top:1px solid #ddd;">
    			<ul class="list app-userMenuList">
    				<li class="noborder">
                        <i class="icon icon-close-fill color-1"></i>
                        <div class="nounderline">
                            <p>退出登录</p>
                            <i class="icon icon-arrowright"></i>
                        </div>
    				</li>
    			</ul>
				
    		</div>
		</article> 
		<footer>
			    <ul class="menubar">
		                <li class="tab" data-role="tab" href="index.html" data-toggle="article">
		                    <i class="icon icon-home color-nav"></i>
		                    <label class="tab-label">首页</label>
		                </li>
						
		                <li class="tab">
							<a href="message.html" class="block color-nav">
		                    <i class="icon icon-fileperson"></i>
		                    <label class="tab-label">我的信息</label>
							</a>
		                </li>
						 <li class="tab active" data-role="tab" href="#" data-toggle="article">
						 <a href="user.html" class="block">
		                    <i class="icon icon-person-fill"></i>
		                    <label class="tab-label">个人中心</label>
							</a>
		                </li>
		            </ul>
				</footer>
	</section>
</div>
<script src="../static/assets/third/seedsui/plugin/seedsui/seedsui.min.js"></script>
</body>
</html>
