<!doctype html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"><meta name="format-detection" content="telephone=no">
	<title>个人中心-积分兑换礼品</title>
	<link rel="stylesheet" href="../static/assets/agile/css/agile.layout.css">
	<link rel="stylesheet" href="../static/assets/third/seedsui/plugin/seedsui/seedsui.min.css">
	<link rel="stylesheet" href="../static/assets/third/seedsui/plugin/seedsui/custom.css">
	<style>
	.card-handler > a{ height:auto; line-height:16px;}
	</style>
</head>

<body>
<div id="section_container">
<header>
            <div class="titlebar">
                <a class="titlebar-button left" href="javascript:back()">
                    <i class="icon icon-arrowleft"></i>
                </a>
                <h1 class="text-center">积分兑换礼品</h1>
				<div class="right">
					<a href="user_integral_details.html" class="titlebar-button">
					<i class="icon icon-notepad"></i>
				</a>
				</div>
            </div>
        </header>

		<article id="main_article" data-role="article" class="active" style="top:44px; bottom:50px">
			<div style="border-bottom:1px solid #ddd;">
				<div class="card-handler card-handler-bordered" data-col="3" style="padding:0 0 15px 0;">
				   <div class="block text-center tbpadding15">礼品积分</div>
    				<a href="#">
					<b class="block title color-black nopadding">28</b>
    					<i class="icon icon-medal-fill"></i>
    					<span>部门积分</span>
    				</a>
    				<a class="radius4 button color-white" style="line-height:36px; height:36px">
								<i class="icon icon-medal size12  color-white"></i>
								<label>整合积分</label>
					</a>
    				<a>
					   <b class="block title color-black nopadding">20</b>
    					<i class="icon icon-user-fill"></i>
    					<span>个人积分</span>
    				</a>
    			</div>
    		</div>
    		<div style="height:12px;background-color:#f4f4f4"></div>
            <div class="bg-gray bpadding8">
				   <div class="app-listBar tpadding8">
							<span class="app-peg"></span>
							<p class="app-listBarTitle bold"> 可兑换礼品明细</p>
						</div>
				<div class="group nomargin padding8">
				   <ul class="app-goodsList">
						<li class="underline tbmargin8">
							<div class="app-goodsImg-jf"><img src="../static/images/shoping_pic.jpg"></div>
							<div class="app-goodsContent">
								<p class="app-goodsTitle bold">名称：Lihit LAB PuniLabo 硅胶伸缩笔筒</p>
								<p class="app-goodsResult">
									<small>兑换积分：</small>
									<label class="app-goodsPrice">60</label>
								</p>
								<p class="app-addressHandler" style="margin-top:8px;">
								
								<label>
									<span style="margin-top:2px;">
										<i class="icon icon-rdomenu"></i>
										<span>编号：3901</span>
										</span>
								</label>
								<label class="app-addressHandler-right">
									<input type="checkbox" checked="true" name="rdo">
									<span>选中</span>
								</label>
							</p>
							</div>
							
						</li>
						
						<li class="underline tbmargin8">
							<div class="app-goodsImg-jf"><img src="../static/images/shoping_pic.jpg"></div>
							<div class="app-goodsContent">
								<p class="app-goodsTitle bold">日本LIHIT LAB商务多功能活页记事本</p>
								<p class="app-goodsResult">
									<small>兑换积分：</small>
									<label class="app-goodsPrice">60</label>
								</p>
								<p class="app-addressHandler" style="margin-top:8px;">
								
								<label>
									<span style="margin-top:2px;">
										<i class="icon icon-rdomenu"></i>
										<span>编号：3901</span>
										</span>
								</label>
								<label class="app-addressHandler-right">
									<input type="checkbox" name="rdo">
									<span>选中</span>
								</label>
							</p>
							</div>
							
						</li>
						
						<li class="underline tbmargin8">
							<div class="app-goodsImg-jf"><img src="../static/images/shoping_pic.jpg"></div>
							<div class="app-goodsContent">
								<p class="app-goodsTitle bold">日本LIHIT LAB商务多功能活页记事本</p>
								<p class="app-goodsResult">
									<small>兑换积分：</small>
									<label class="app-goodsPrice">60</label>
								</p>
								<p class="app-addressHandler" style="margin-top:8px;">
								
								<label>
									<span style="margin-top:2px;">
										<i class="icon icon-rdomenu"></i>
										<span>编号：3901</span>
										</span>
								</label>
								<label class="app-addressHandler-right">
									<input type="checkbox" name="rdo">
									<span>选中</span>
								</label>
							</p>
							</div>
							
						</li>
					</ul>
				</div>
			</div>
		</article> 
		<footer>
        <div class="app-submitOrderBlock">
            <div class="app-submitOrderInfo">
                <p>兑换数量：5个</p>
                <p>兑换积分：120分</p>
                <p>剩余积分：0分</p>
            </div>
            <div class="app-submitOrderResult">
                <p>合计：<span class="app-color-primary">120分</span></p>
                <p>合计兑换积分</p>
            </div>
            <a class="button app-btnSubmitOrder">立即兑换</a>
        </div>
    </footer>
	</section>
</div>
<!--- third -->
	<script src="../static/assets/third/jquery/jquery-2.1.3.min.js"></script>
	<script src="../static/assets/third/jquery/jquery.mobile.custom.min.js"></script>
	<!---  agile -->
	<script type="text/javascript" src="../static/assets/agile/js/agile.js"></script>
<script type="text/javascript" src="../static/assets/bridge/exmobi.js"></script>
<script type="text/javascript" src="../static/assets/bridge/agile.exmobi.js"></script>
	<!-- app -->
	<script type="text/javascript" src="../static/assets/app/js/app.seedsui.js"></script>
	
    
    
    
    
    
	<script>
		
	</script>
</body>
</html>
