<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- get_two -->
<mapper namespace="com.lots.lotswxxw.dao.GetTwoMapper">
    <!-- 字段映射 -->
    <resultMap id="getTwoMap" type="com.lots.lotswxxw.domain.po.GetTwoPO">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="uid" property="uid" jdbcType="VARCHAR"/>
        <result column="red_number" property="redNumber" jdbcType="VARCHAR"/>
        <result column="blue_number" property="blueNumber" jdbcType="VARCHAR"/>
        <result column="chapter" property="chapter" jdbcType="TIMESTAMP"/>
        <result column="is_true" property="isTrue" jdbcType="VARCHAR"/>
        <result column="is_rmb" property="isRmb" jdbcType="DECIMAL"/>
        <result column="create_timestamp" property="createTimestamp" jdbcType="TIMESTAMP"/>
        <result column="update_timestamp" property="updateTimestamp" jdbcType="TIMESTAMP"/>

    </resultMap>

    <!-- 表查询字段 -->
    <sql id="allColumns">
        id, uid, red_number, blue_number, chapter, is_true, is_rmb, create_timestamp, 
        update_timestamp
    </sql>

    <!-- 根据条件参数查询数据列表 -->
    <select id="findGetTwoByCondition" resultMap="getTwoMap" parameterType="map">
        SELECT
        <include refid="allColumns"/>
        FROM get_two WHERE 1 = 1
        <if test="uid != null and uid != ''">
            AND uid LIKE CONCAT('%', #{uid}, '%')
        </if>
        <if test="redNumber != null and redNumber != ''">
            AND red_number LIKE CONCAT('%', #{redNumber}, '%')
        </if>
        <if test="blueNumber != null and blueNumber != ''">
            AND blue_number LIKE CONCAT('%', #{blueNumber}, '%')
        </if>
    </select>

    <!-- 插入数据 -->
    <insert id="insertGetTwo" parameterType="map">
        INSERT INTO get_two (
            id, uid, red_number, blue_number, chapter, is_true, is_rmb, create_timestamp, 
            update_timestamp
        ) VALUES (
            #{id},
            #{uid},
            #{redNumber},
            #{blueNumber},
            #{chapter},
            #{isTrue},
            #{isRmb},
            now(),
            #{updateTimestamp}
        )
    </insert>

    <!-- 修改数据 -->
    <update id="updateGetTwo" parameterType="map">
        UPDATE get_two
        <set>
            <if test="uid != null">
                uid = #{uid},
            </if>
            <if test="redNumber != null">
                red_number = #{redNumber},
            </if>
            <if test="blueNumber != null">
                blue_number = #{blueNumber},
            </if>
            <if test="chapter != null">
                chapter = #{chapter},
            </if>
            <if test="isTrue != null">
                is_true = #{isTrue},
            </if>
            <if test="isRmb != null">
                is_rmb = #{isRmb},
            </if>
            <if test="createTimestamp != null">
                create_timestamp = #{createTimestamp},
            </if>
            <if test="updateTimestamp != null">
                update_timestamp = #{updateTimestamp}
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <!-- 根据主键批量删除数据 -->
    <delete id="deleteGetTwoByIds" parameterType="list">
        DELETE FROM get_two WHERE id IN
        <foreach collection="list" index="index" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getNowList" resultMap="getTwoMap">
        SELECT
        <include refid="allColumns"/>
        FROM get_two WHERE
        chapter=date_format(now(),'%Y-%m-%d');
    </select>
</mapper>