<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 后台菜单表(lots_menu) -->
<mapper namespace="com.lots.lots.dao.mapper.LotsMenuMapper">

    <!-- 字段映射 -->
    <resultMap id="LotsMenuMap" type="com.lots.lots.entity.vo.LotsMenuVo">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="parent_id" property="parentId" jdbcType="BIGINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="level" property="level" jdbcType="INTEGER"/>
        <result column="sort" property="sort" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="icon" property="icon" jdbcType="VARCHAR"/>
        <result column="hidden" property="hidden" jdbcType="INTEGER"/>
    </resultMap>
    <!-- 表查询字段 -->
    <sql id="allColumns">
        lm
        .
        id
        , lm.parent_id, lm.create_time, lm.title, lm.level, lm.sort, lm.name, lm.icon,
        lm.hidden
    </sql>

    <!--查询单个-->
    <select id="findById" resultMap="LotsMenuMap">
        select *
        FROM lots_menu
        where id = #{id}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="LotsMenuMap" parameterType="map">
        SELECT
        *
        FROM lots_menu lm WHERE 1 = 1
        <if test="parentId != null">
            AND lm.parent_id = #{parentId}
        </if>
        <if test="createTime != null">
            AND lm.create_time = #{createTime}
        </if>
        <if test="title != null and title != ''">
            AND lm.title LIKE CONCAT('%', #{title}, '%')
        </if>
        <if test="level != null">
            AND lm.level = #{level}
        </if>
        <if test="sort != null">
            AND lm.sort = #{sort}
        </if>
        <if test="name != null and name != ''">
            AND lm.name LIKE CONCAT('%', #{name}, '%')
        </if>
        <if test="icon != null and icon != ''">
            AND lm.icon LIKE CONCAT('%', #{icon}, '%')
        </if>
        <if test="hidden != null">
            AND lm.hidden = #{hidden}
        </if>
        order by sort desc
    </select>

    <select id="queryAllPage" resultMap="LotsMenuMap" parameterType="map">
        SELECT
        *
        FROM lots_menu lm WHERE 1 = 1
        <if test="parentId != null">
            AND lm.parent_id = #{parentId}
        </if>
        <if test="createTime != null">
            AND lm.create_time = #{createTime}
        </if>
        <if test="title != null and title != ''">
            AND lm.title LIKE CONCAT('%', #{title}, '%')
        </if>
        <if test="level != null">
            AND lm.level = #{level}
        </if>
        <if test="sort != null">
            AND lm.sort = #{sort}
        </if>
        <if test="name != null and name != ''">
            AND lm.name LIKE CONCAT('%', #{name}, '%')
        </if>
        <if test="icon != null and icon != ''">
            AND lm.icon LIKE CONCAT('%', #{icon}, '%')
        </if>
        <if test="hidden != null">
            AND lm.hidden = #{hidden}
        </if>
        order by sort desc
    </select>

    <select id="getMenuList" resultType="com.lots.lots.entity.vo.LotsMenuVo">
        SELECT m.id          id,
               m.parent_id   parentId,
               m.create_time createTime,
               m.title       title,
               m.level       level,
               m.sort        sort,
               m.name        name,
               m.icon        icon,
               m.hidden      hidden
        FROM lots_user_role_relation arr
                 LEFT JOIN lots_role r ON arr.role_id = r.id
                 LEFT JOIN lots_role_menu_relation rmr ON r.id = rmr.role_id
                 LEFT JOIN lots_menu m ON rmr.menu_id = m.id
        WHERE arr.user_id = #{userId}
          AND m.id IS NOT NULL
        GROUP BY m.id
    </select>
    <!--新增所有列-->
    <insert id="insert" parameterType="map" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO lots_menu (parent_id,
                               create_time,
                               title,
                               level,
                               sort,
                               name,
                               icon,
                               hidden)
        VALUES (#{parentId},
                now(),
                #{title},
                #{level},
                #{sort},
                #{name},
                #{icon},
                #{hidden})
    </insert>

    <!--通过主键修改数据-->
    <update id="update" parameterType="map">
        UPDATE lots_menu
        <set>
            <if test="parentId != null">
                parent_id = #{parentId},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="level != null">
                level = #{level},
            </if>
            <if test="sort != null">
                sort = #{sort},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="icon != null">
                icon = #{icon},
            </if>
            <if test="hidden != null">
                hidden = #{hidden}
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        DELETE
        FROM lots_menu
        WHERE id = #{id}
    </delete>

    <!--通过主键批量删除-->
    <delete id="deleteByIds">
        DELETE
        FROM lots_menu
        WHERE FIND_IN_SET(id, #{ids});
    </delete>
</mapper>